<!DOCTYPE html>
<html>
  <head>
    <title>City Secrets</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <header>  
      <div class="header-content">
        <p class="brandname">CITY  SECRETS</p>
        <button>Login</button>
        <button>Signup</button>
      </div>  
    </header>
    <%- body %>
    <footer>
      <div class="footer-content">
        <p>&copy Stephie & Jana</p>
      </div>
    </footer>
=======


    <%- body %>

    <footer> Test Footer</footer>
>>>>>>> f236d9f9981f1acb876f9d3c5524db47daa172be
  </body>
</html>
