<!DOCTYPE html>
<html>
  <head>
    <title>City Secrets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <%- body %>

    <footer> Test Footer</footer>
  </body>
</html>
