<!DOCTYPE html>
<html>
  <head>
    <title>City Secrets</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>  
      <div class="header-content">
        <a href="/" class="brandname">CITY  SECRETS</a>
        <% if (user) { %>
          <p class="user-name"> Hello, <%= user.username %> !</p>
          <a href="/users/<%= user._id %>"><button id="btn-profile">Your Profile</button></a>
          <form action="/auth/logout" method="POST"><button id="btn-signout"> Sign Out</button></form>
         <% } else { %>
          <a href="/auth/login"><button id="btn-login">Log In</button></a>
          <a href="/auth/signup"><button id="btn-signup">Sign Up</button></a>
         <% } %>
      </div>  
    </header>
    <%- body %>
    <footer>
      <div class="footer-content">
        <p>&copy Stephie & Jana</p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  </body>
</html>
