
<div class="container">
  <main class="input-form">

    <h2>Create new Place</h2>
    <p> Add from existing secrets or add a new one</p>

    
    <form class="auth-form" action="/places" method="post" >
      <div class="field">
        <label> Select </label>
        <input type="text" placeholder="Enter Name of your Secret" name="address" id="locality" ></input><br> 
      </div>
      <div class="field">
        <label for="name"> Name </label>
        <input type="text" name="name" id="name">
      </div>
      <div class="field">
        <label for="city"> City </label>
        <input type="text" name="city" id="city">
      </div>
      <div class="field">
        <label for="latitude"> Latitude </label>
        <input type="number" step="any" name="latitude" id="latitude">
      </div>
      <div class="field">
        <label for="longitude"> Longitude </label>
        <input type="number" step="any" name="longitude" id="longitude">
      </div>
      <div class="field-control">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </main>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC72YuOmoqDMujQwSjfPkC8bTZNH2cqqkE
&v=3.exp&libraries=places"
></script>
<script src="/javascripts/main.js"></script>