<header> 
    <% if (user) { %>
     <div> Hello, <%= user.username %> !</div>
     <form action="/logout" method="GET"><button> Sign Out </button></form>
     <form action="/places/details" method="GET"><button> Your Profile </button></form>
    <% } else { %>
     <form action="/auth/login" method="GET"><button> Log In </button></form>
     <form action="/auth/signup" method="GET"><button> Sign Up </button></form> 
    <% } %>
</header>

<p>Welcome</p>

<p>City Secrets shows you the best secrets of your city</p>
<p>Be a part of it and share your favorites in your district</p>
<p>Meet new people from all over the world</p>

<p>See the city through the eye of locals</p>

<p>Have fun</p>
