<<<<<<< HEAD
<main>
  <div class="welcome-banner">
    <h1>Welcome to<br><span>City Secrets</span></h1>
    <h2>Sign up and let us know about favourite spots in your city!</h2>
  </div>

  <h2 class="explore-posts">Explore secret spots:</h2>

  <div class="user-collection">

    <div class="user-post">
      <div class="user-img">
        <img src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"/>
        <p class="username">Username</p>
      </div>
      <ul class="user-places">
        <p>Secret spots:</p>
        <li>airport</li>
        <li>beach</li>
        <li>old town</li>
      </ul>
      <p class="profile-link">More Details</p>
    </div>

    <div class="user-post">
      <div class="user-img">
        <img src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"/>
        <p class="username">Username</p>
      </div>
      <ul class="user-places">
        <p>Secret spots:</p>
        <li>airport</li>
        <li>beach</li>
        <li>old town</li>
      </ul>
      <p class="profile-link">More Details</p>
    </div>

    <div class="user-post">
      <div class="user-img">
        <img src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"/>
        <p class="username">Username</p>
      </div>
      <ul class="user-places">
        <p>Secret spots:</p>
        <li>airport</li>
        <li>beach</li>
        <li>old town</li>
      </ul>
      <p class="profile-link">More Details</p>
    </div>

    <div class="user-post">
      <div class="user-img">
        <img src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"/>
        <p class="username">Username</p>
      </div>
      <ul class="user-places">
        <p>Secret spots:</p>
        <li>airport</li>
        <li>beach</li>
        <li>old town</li>
      </ul>
      <p class="profile-link">More Details</p>
    </div>

  </div>
</main>
=======
<header> 
    <% if (user) { %>
     <div> Hello, <%= user.username %> !</div>
     <form action="/logout" method="GET"><button> Sign Out </button></form>
     <form action="/places/details" method="GET"><button> Your Profile </button></form>
    <% } else { %>
     <form action="/auth/login" method="GET"><button> Log In </button></form>
     <form action="/auth/signup" method="GET"><button> Sign Up </button></form> 
    <% } %>
</header>

<p>Welcome</p>

<p>City Secrets shows you the best secrets of your city</p>
<p>Be a part of it and share your favorites in your district</p>
<p>Meet new people from all over the world</p>

<p>See the city through the eye of locals</p>

<p>Have fun</p>
>>>>>>> f236d9f9981f1acb876f9d3c5524db47daa172be
