<header> Test Header 
    <% if (user) { %>
     <div> Hello, <% user.username %> </div>
     <button type="button"> Sign Out </button>
     <button type="button"> Your Profile </button>
    <% } else { %>
     <button type="button"> Log In </button>
     <button type="button"> Sign Up </button> 
     <% } %>
    </header>

<p>Welcome</p>