<h2>Create new Place</h2>

<form action="/places" method="post" >
  <div class="field">
    <label for="name"> Name </label>
    <input type="text" name="name" id="name">
  </div>
  <div class="field">
    <label for="description"> description </label>
    <input type="text" name="description" id="description">
  </div>
  <div class="field">
    <label for="longitude"> longitude </label>
    <input type="number" name="longitude" id="longitude">
  </div>
  <div class="field">
    <label for="latitude"> latitude </label>
    <input type="number" name="latitude" id="latitude">
  </div>
  <div class="field control">
    <button class="btn submit">Submit</button>
  </div>
</form>