<div id="greeting">
    <h2><%= userInfo.username %> </h2>
</div>
<div id="user-places">
    <h2>Favorite Places: </h2>
</div>
<ul>
        <% userInfo.places.forEach( (place) => { %>
          <li>
            <p class="item">
              <a><%= place.name %></a>
              <span><%= place.description %></span>
            </p>
          </li>
        <% }); %>
      </ul>
<% if (user && user.username === userInfo.username) { %>
  <form class="actions" action="/logout" method="POST">
    <button class="btn delete">Logout</button>
  </form>
<% } %>